---
name: Publish every Git push to main to FlakeHub

'on':
  push:
    branches:
      - main

jobs:
  flakehub-publish:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: DeterminateSystems/nix-installer-action@v21
      - uses: DeterminateSystems/flakehub-push@v6
        with:
          name: etu/jsonresume-nix
          rolling: true
          visibility: public
          include-output-paths: true
